.web-wrapper {
  position: relative;
  width: 360px;
  transform: rotate(90deg);
  height: 241px;
  left: -59px;
  top: 20px;
  margin-bottom: 95px !important;

  webcam::before {
    content: '';
    border: 3px dashed red;
    border-radius: 100px;
    width: 130px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -100px;
    right: 0;
    left: 50%;
    margin-left: -80px;
    transform: rotate(90deg);
  }
}

.cameraBtn {
  text-align: center;
  transform: rotate(-90deg);
  position: relative;
  top: -154px;
  left: 154px;
}

.snapshot {
  position: relative;
  top: -39px;
  width: 242px;
  height: 360px;
  margin-bottom: -24px;
}

.snapshotImg {
  width: 300px;
  top: 30px;
  left: -29px;
  position: relative;
  transform: rotate(90deg);
}
