<div *ngIf="!webcamImage" class="web-wrapper shadow p-2 ml-3">
  <webcam (cameraSwitched)="cameraWasSwitched($event)" (imageCapture)="handleImage($event)"
          (initError)="handleInitError($event)"
          *ngIf="showWebcam"
          [allowCameraSwitch]="allowCameraSwitch"
          [height]="1000"
          [imageQuality]="1"
          [switchCamera]="nextWebcamObservable"
          [trigger]="triggerObservable"
          [videoOptions]="videoOptions"
          [width]="300"
          mirrorImage="never"
  ></webcam>
  <div class="mt-3 cameraBtn">
    <button (click)="triggerSnapshot();" class="btn btn-primary"><i class="fa fa-camera"></i></button>
  </div>
</div>
<div *ngIf="webcamImage" class="snapshot shadow ml-3 py-3">
  <div>
    <img [src]="webcamImage.imageAsDataUrl" alt="" class="snapshotImg" id="webCamImage"/>
  </div>
  <div class="mt-5 text-center position-relative" style="top: 25px">
    <button (click)="again()" class="btn btn-outline-primary mr-2"><i class="fa fa-arrow-left"></i></button>
    <button (click)="ready()" class="btn btn-primary"><i class="fa fa-check"></i></button>
  </div>
</div>
<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>
