#img {
  width: 220px;
}

.userImg {
  width: 330px;
  text-align: center;
  position: initial;
}

table td {
  padding: .1rem !important;
  font-size: 13px;
}
.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
}
.list-item {
  width: 200px;
  height: 300px;
  //display: inline-block;
  margin: 5px;

  img {
    width: 100%;
    height: 80%;
  }
}
