#img {
  width: 220px;
}

.userImg {
  width: 330px;
  text-align: center;
  position: initial;
}

table td {
  padding: .2rem !important;
}

.list-item {
  width: 200px;
  height: 250px;
  display: inline-block;
  margin: 5px;
}
